name: Gandalfs Bridge

on:
  workflow_dispatch:
    inputs:
      task_name:
        description: "Task"
        required: true
        type: string
      code_content:
        description: "Code"
        required: true
        type: string
      file_path:
        description: "Path"
        required: true
        type: string

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Write file
        run: |
          mkdir -p "$(dirname "${{ github.event.inputs.file_path }}")"
          cat << 'EOF' > "${{ github.event.inputs.file_path }}"
          ${{ github.event.inputs.code_content }}
          EOF

      - name: Commit and push
        run: |
          git config user.name "bot"
          git config user.email "bot@bot.com"
          git add .
          git commit -m "update" || exit 0
          git push
