name: Gandalfs Bridge

on:
  workflow_dispatch:
    inputs:
      task_name:
        description: "Task"
        required: true
      code_content:
        description: "Code"
        required: true
      file_path:
        description: "Path"
        required: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Write file
        run: |
          mkdir -p "$(dirname "${{ github.event.inputs.file_path }}")"
          echo "${{ github.event.inputs.code_content }}" > "${{ github.event.inputs.file_path }}"

      - name: Commit and push
        run: |
          git config user.name "bot"
          git config user.email "bot@bot.com"
          git add .
          git commit -m "update" || echo "No changes"
          git push
